BasedOnStyle: LLVM
IndentWidth: 4
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
ColumnLimit: 80
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: CurrentLine
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
