cmake-build-debug/
cmake-build-release/

x64/
out/
build/
bin/

*.o
*.a
*.so

.idea
.code
.vs
.vscode

*.ini
*.log

vgcore*

# this is generated through cmake (check build.sh)
compile_commands.json
.cache
.cmake_observer_backup
/CMakeSettings.json
tests_output/
Testing/

perf.data
