cmake-build-debug/
cmake-build-release/

x64/
out/
build/
bin/

*.o
*.a
*.so

.idea
.code
.vs
.vscode

*.ini
*.log

vgcore*

sample_projects/test.bproj

# this is generated through cmake (check build.sh)
compile_commands.json
.cache
.cmake_observer_backup
/CMakeSettings.json
tests_output/
Testing/

perf.data*
doxygen_warnings.txt
docs/html/

__pycache__/
*.pyc
*.egg-info/
